
.banner{
  width:100%;
  min-height:700px;
  @apply flex ;
  
}
.Company{
  
  padding:10px 15%;
  width:96%;
  
  @apply  border-2  mt-10 flex justify-between items-center h-40 rounded-lg;

}
.Banner-text{
  font-size:clamp(0px,10vw,45px);
  font-weight:500;
  margin-bottom:10%;
  padding: 0px;
  
  color:#0969AD;
}

.banner>img {
  @apply object-cover  p-0  w-full  ;
 
}
.Text-Main-banner{
  
  color:#0C8DE8;
  font-size:clamp(0px,3vw,45px);
  font-weight:500;
  transition-duration:.4s;
font-size:clamp(0px,4vw,20px);
font-weight:700;
border:#0C8DE8 solid 4px;
padding:clamp(0px,5vw,20px) 0px;
width:clamp(0px,20vw,900px);
  @apply outline-none flex justify-center items-center ;

}
.Text-Main-banner:hover{
  
  color:white;
  background:#0C8DE8;

}



.banner_btn{
transition-duration:.4s;
font-size:clamp(0px,4vw,20px);
font-weight:700;
width:clamp(0px,80%,350px);
@apply text-primary py-5 border-primary border-2   flex justify-center items-center;
}
.banner_btn:hover{
  transition-duration:.4s;
  width:clamp(0px,90%,450px);
  @apply text-white bg-primary;

}




.text{
  width:45%;
  height:60%;
}
.Main-Grid{
  padding:10px 15%;
  @apply py-44 w-full;
}
.New-Grid{
  display:grid;
  grid-template: 
            "a a a a" 40vh
            "b b c c" 20vh
            "b b c c" 20vh / 1fr 1fr 1fr 1fr;
  
}

#Col-1{
  grid-area: a;
  
  background:url("/Images/Clothe.jpg");
  background-size: cover;
  background-repeat: no-repeat;    
  background-position: center center;
 
}
#Col-2{
  grid-area: b;
  background:url("/Images/Controller.jpg");
  
  background-size: cover;
  background-repeat: no-repeat;    
  background-position: center center;

}
#Col-3{
  grid-area: c;
  background:url("/Images/Guy-headphones.png");
  
  background-size: cover;
  background-repeat: no-repeat;    
  background-position: center center;

}
.Text-Main>p{
  color:#F08300;
  width:35ch;
  font-size:clamp(0px,3vw,45px);
  font-weight:500;
  margin-bottom:10%;
  padding: 0px;
}
.Text-Main>a{
  color:white;
  transition-duration:.4s;
font-size:clamp(0px,4vw,20px);
font-weight:700;
border:#F78F2D solid 4px;
padding:clamp(0px,5%,20px) 0px;
width:clamp(0px,70%,250px);
  @apply outline-none flex justify-center items-center ;
}
.Text-Main>a:hover{
  color:white;
  background:#F78F2D ;
width:clamp(0px,80%,310px);
}

@media(max-width:1250px){
  .New-Grid{
    display:grid;
    grid-template: 
              "a a a a" 55vh
              "b b c c" 25vh
              "b b c c" 25vh / 1fr 1fr 1fr 1fr;
    
  }
}


@media(max-width:850px){

  .Company{
  
    padding:10px 5%;
    @apply h-24;
  
  }
  .Main-Grid{
    padding:10px 5%;
    @apply py-10 ;
  }
  .Text-Main-banner{
  width:clamp(0px,30vw,500px);
  
  }
}
@media(max-width:750px){

  .Company{
  
    padding:10px 5%;
    @apply h-16;
  
  }
  .Text-Main-banner{
  width:clamp(0px,70vw,700px);
  
  }
}
.Text-Main-2>p{
  color:#0C8DE8;

  font-size:clamp(0px,7vw,35px);
  font-weight:500;
  margin-bottom:10%;
  padding: 0px;

}
.Text-Main-2>a{
  color:white;
  transition-duration:.4s;
  font-size:clamp(0px,4vw,20px);
  font-weight:700;
  border:#0C8DE8 solid 4px;
  padding:clamp(0px,5%,20px) 0px;
  width:clamp(0px,80%,250px);
  @apply outline-none flex justify-center items-center ;
  
}
.Text-Main-2>a:hover{
  color:white;
  background:#0C8DE8 ;
  width:clamp(0px,80%,310px);
  
}
.Text-Main-3>a{
  color:white;
  transition-duration:.4s;
  font-size:clamp(0px,4vw,20px);
  font-weight:700;
  border:#651D1B solid 4px;
  padding:clamp(0px,5%,20px) 0px;
  width:clamp(0px,80%,250px);
  @apply outline-none flex justify-center items-center ;
}
.Text-Main-3>p{
  color:#651D1B;

  font-size:clamp(0px,7vw,35px);
  font-weight:500;
  margin-bottom:10%;
  padding: 0px;
  
}
.Text-Main-3>a:hover{
  
  color:white;
  background:#651D1B;;
  width:clamp(0px,80%,310px);
}